
.product-list-container {
  padding-top: 70px; 
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px;
}

.product-image {
  width: 100%;
  max-height: 180px;
  object-fit: contain; 
  border-radius: 8px 8px 0 0;
  margin-bottom: 10px;
}

.product-card {
  background-color: #fff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px; 
  height: 100%;
}

.product-card h3 {
  font-size: 1em;
  margin: 5px 0;
}

.product-description {
  font-size: 0.9em;
  color: #555;
  margin: 5px 0;
  min-height: 50px;
}

.price {
  font-weight: bold;
  font-size: 1.1em;
  color: #007bff;
  margin-top: 10px;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .product-card {
    width: 180px; 
  }
  .product-image {
    max-height: 140px;
  }
}


@media (max-width: 767px) {
  .product-card {
    width: 100%; 
  }
  .product-image {
    max-height: 120px;
  }
}
